<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Junge&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;1,400&family=Junge&display=swap" rel="stylesheet">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
table {
  border: 1px solid black;
}
</style>
</head>
<div class="d-flex flex-column flex-md-row justify-content-center align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="height: 100px;">
  <p style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" >Hedgehogs Hotel Chain</p> <p style="color: #FFFFFF">kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>

  <img src="https://tattmight.com/albums/userpics/2015y/02/09/20/206/0319-I_have_no_interest_i_8_ink.jpg" style="justify-content: center; width: 160px; height: 100px;">
  <p style="color: #FFFFFF">kkkkkkkkkkkkkkkk kkklkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>

  <a class="btn  btn-outline-dark " th:href="@{/}"  >Main</a>

  <nav class="my-2 my-md-0 mr-md-3">
  </nav>

  <!--  <a class="btn btn-outline-primary" th:href="@{profile}">My profile</a>-->
</div>
<body>
<div style="margin-left: 70px; margin-top: 50px;">
<h1 style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 30px">Manager page </h1>
  <br>
  <p style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" ><a style="font-size: 20px" class="btn btn-outline-primary" th:href="@{/manager/search}">Employee List</a> to modify schedule and make a payroll</p>
<p style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px"><a style="font-size: 20px" class="btn btn-outline-primary" th:href="@{/seasonsearch/list}">Seasons List</a>     to modify season and assign hotels</p>
</div>
</body>
</html>
