 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Junge&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;1,400&family=Junge&display=swap" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
table {
  border: 1px solid black;
}
</style>
</head>
<div class="d-flex flex-column flex-md-row justify-content-center align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="height: 100px;">
    <p style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" >Hedgehogs Hotel Chain</p> <p style="color: #FFFFFF">kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>

    <img src="https://tattmight.com/albums/userpics/2015y/02/09/20/206/0319-I_have_no_interest_i_8_ink.jpg" style="justify-content: center; width: 160px; height: 100px;">
    <p style="color: #FFFFFF">kkkkkkkkkkkkkkkk kkklkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>

    <a class="btn  btn-outline-dark " th:href="@{/}"  >Main</a>

    <nav class="my-2 my-md-0 mr-md-3">
    </nav>

    <!--  <a class="btn btn-outline-primary" th:href="@{profile}">My profile</a>-->
</div>
<body>
<div style="margin-left: 80px; margin-top: 50px">
<h2 style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 35px">Search Hotels for Season</h2>
<p style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px">Use the input field to search for a specific season.</p>
    <br>
 <table>
        <thead>
            <tr>
                <th style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px">Season Name</th>
                <th style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px">Start Date</th>
                <th style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" >End Date</th>
                <th style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px">Rate</th>
            </tr>
        </thead>
        <tbody>
            <tr th:object="${season}">
                <td style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" th:text="*{seasonName}">Season Name</td>
                <td style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" th:text="*{startDate}">Start Date</td>
                <td style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" th:text="*{endDate}">End Date</td>
                <td style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" th:text="*{rate}">Rate</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <table>
     <thead>
            <tr>
                <th style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px">Hotel Name</th>
                <th style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px">Hotel Id</th>
                <th style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px">Hotel City</th>
                <th style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px">Hotel Country</th>
 
            </tr>
        </thead>
            <tbody>
                <tr>
        <tr th:if="${listHotels} != null">
           <tr th:each="hotel : ${listHotels}">
             <td style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" th:text="*{hotel.hotelName}">Hotel Name</td>
              <td style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px"  th:text="*{hotel.id}">Hotel Id</td>
              <td style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px"  th:text="*{hotel.city}">Hotel City</td>
              <td style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px"  th:text="*{hotel.country}">Hotel Country</td>
           </tr>
           </tbody>
    </table>    
<br>
<br>
<label style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" for="browser">Hotel Name:</label>
<input type="text" id="name">

<label style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" for="browser">Hotel Id:</label>
<input type="text" id="hotelid">

<input type="submit" value="Search" id="search" onclick="hotelList()">
<br> <br> <br>
<label style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" for="browser">Existing hotels:</label>
<br>
<br>
<div id="my-list"></div>
<br>
<table style="width:100%" id="my-list"></table>
<script th:inline="javascript">
var seasName = [[${season.seasonName}]];
</script>
<script >

function hotelList() {
	var myUrl = "/seasonsearch/findhotels?";
	
	var bid = document.getElementById("name").value;
	var gid = document.getElementById("hotelid").value;
 	if (bid != "") {
		myUrl = myUrl+"name="+bid+"&";
	}  
	if (gid != "") {
		myUrl = myUrl+"hotelid="+gid+"&";
	}

	$.ajax({
        url : myUrl,
        dataType : 'json',
        success : function(r) {
        	$("#my-list").html("");
        	if(!$.trim(r)){
        		$("#my-list").append("Sorry, No hotel found. Try to search for other criterias.");
        	
        	} else {
        	r.forEach(function (e) {
        		$("#my-list").append("<summary>Hotel Name: "+ e.hotelName
        				+"&nbsp;&nbsp;&nbsp;&nbsp; Hotel Id: "+ e.id
        				+"&nbsp;&nbsp;&nbsp;&nbsp; Hotel Country: " + e.country
        				+"&nbsp;&nbsp;&nbsp;&nbsp; Hotel City: " + e.city
        				+"&nbsp;&nbsp;&nbsp;&nbsp;<a href=\"http://localhost:8080/seasonsearch/savehotel/" +e.id+ "/"+ seasName + "\"><button type=\"button\">Add"
        				+"</button></a></summary>"
        				+ ""); 
        	
          });
        	

        }}
    });

}

function sendEmail() {
	  window.location.replace("http://localhost:8080/seasonsearch/emailsend/" + seasName);
	}

$(document).ready(function () {
	hotelList();
});
</script>
 <a style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" class="btn btn-outline-primary" ><button onclick="sendEmail()" type= "button">Save all changes</button></a>
 <!-- th:href="@{/seasonsearch/emailsend}" -->
</div>

</body>
</html> 
