<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;1,400&family=Junge&display=swap" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<style>
		input {
			padding-right: 25%;
			padding-left:  25%;
		}

		form{
			margin-right: 500px;
			margin-left: 500px;
		}
	</style>
</head>

<body>
<a class="btn btn-outline-primary" th:href="@{/}">Main page</a>


<!-- <label for="browser">Employee Id:</label> -->
<!-- <input list="id" id="myId"> -->

<!-- <label for="browser">Name:</label> -->
<!-- <input list="name" id="myName"> -->

<!-- <label for="browser">Surname:</label> -->
<!-- <input list="surname" id="mySurname"> -->

<!-- <label for="browser">Employee Type:</label> -->
<!-- <input list="type" id="myType"> -->
<!-- <datalist id="type"> -->
<!-- </datalist> -->

<!-- <label for="browser">Hotel Name:</label> -->
<!-- <input list="hotel" id="myHotel"> -->
<!-- <datalist id="hotel"> -->
<!-- </datalist> -->

<!-- <input type="submit" value="Search" id="search" onclick="employeeList()"> -->
<!-- <br> -->
<!-- <br> -->
<br>
<br>
<div>
<h2 style="font-family: 'Cormorant Garamond', serif;" align="center">Search Employees</h2>
<h3 style="font-family: 'Cormorant Garamond', serif;" align="center">Click on the button to open the dropdown menu, <br> use the input field to search for a specific employee.</h3>
<br>
	<br>
	<form th:action="@{/manager/search}">
	<label style="font-family: 'Cormorant Garamond', serif;">Employee Id:</label>
	<input class = "w3-input w3-border"  type="text" th:name="id"/> <br>
	
	<label style="font-family: 'Cormorant Garamond', serif;">Name:</label>
	<input class = "w3-input w3-border"  type="text" th:name="name"/><br>
	
	<label style="font-family: 'Cormorant Garamond', serif;">Surname:</label>
	<input class = "w3-input w3-border"  type="text" th:name="surname"/><br>

    <label style="font-family: 'Cormorant Garamond', serif;">Type:</label>
    <select th:name="type">
    <option th:value="${null}" th:text="${null}"></option>
    <option th:each="i : ${type}" th:value="${i}" th:text="${i}"></option>
    </select> <br>
	<br>
	<br>
    
    <label style="font-family: 'Cormorant Garamond', serif;">Hotel Name:</label>
    <select th:name="hotel">
    <option th:value="${null}" th:text="${All}"></option>
    <option th:each="i : ${hotel}" th:value="${i}" th:text="${i}"></option>
    </select><br>
	<br>
    
    <input class = "w3-input w3-border"   type="submit"/>
</form>
	</div>

<br>


<div th:if="${employees.empty}"><p style="font-family: 'Cormorant Garamond', serif;"> No employees.</p> </div>
	<div th:each="book : ${employees}" style="font-family: 'Cormorant Garamond', serif;">
		<details>
			<summary
				th:text="${book.getEmployee().getName() + ' ' + book.getEmployee().getSecond_name()}">
			</summary>
			<p th:text="${'Type: ' + book.getEmployee().getEmployee_type()}"></p>
			<p th:text="${'E-mail: ' + book.getEmployee().getEmail()}"></p>
			<p th:text="${'Phone: ' + book.getEmployee().getPhone()}"></p>
			<p
				th:text="${'Hotel: ' + book.getEmployee().getHotel().getName()+' (' + 
		book.getEmployee().getHotel().getCity()+', ' + book.getEmployee().getHotel().getCountry()+')'}"></p>
			<div th:text="${'Working Hours: '}"></div>
			<div th:each="w : ${book.getFullWeekdays()}">
				<div th:text="${w +': ' + book.getFrom() + ' - ' + book.getTo()}"></div>
			</div>
			<br>
			<a th:href="${'/manager/edit/' + book.getEmployee().getEmployee_id()}">
				<button	type="button"><p style="font-family: 'Cormorant Garamond', serif;">Choose </p></button></a>
		</details>
		<br>
	</div>


	<script>
function updateList(items, tag) {
    $(tag).html("");
    $(tag).append("<option value=\""+""+"\">"+"All"+"</option>");
    items.forEach(function (e) {
        $(tag).append("<option value=\""+e+"\">"+e+"</option>");
    });
}

function getHotelList() {
    $.ajax({
        url : 'hotelnames',
        dataType : 'json',
        success : function(r) {
            updateList(r, "#hotel");
        }
    });
}

function getTypeList() {
    $.ajax({
        url : 'employeetypes',
        dataType : 'json',
        success : function(r) {
            updateList(r, "#type");
        }
    });
}

$(document).ready(function () {

});

</script>
</body>
</html>
