<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Junge&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;1,400&family=Junge&display=swap" rel="stylesheet">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
table {
  border: 1px solid black;
}
</style>
</head>
<div class="d-flex flex-column flex-md-row justify-content-center align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" style="height: 100px;">
  <p style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" >Hedgehogs Hotel Chain</p> <p style="color: #FFFFFF">kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>

  <img src="https://tattmight.com/albums/userpics/2015y/02/09/20/206/0319-I_have_no_interest_i_8_ink.jpg" style="justify-content: center; width: 160px; height: 100px;">
  <p style="color: #FFFFFF">kkkkkkkkkkkkkkkk kkklkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>

  <a class="btn  btn-outline-dark " th:href="@{/}"  >Main</a>

  <nav class="my-2 my-md-0 mr-md-3">
  </nav>

  <!--  <a class="btn btn-outline-primary" th:href="@{profile}">My profile</a>-->
</div>
<body>
<div style="margin-left: 80px; margin-top: 50px ">
<h2 style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 35px">Search Available rooms</h2>

<form onsubmit="return false">

<h3 style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 25px">Choose period: </h3>
<label style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px"  for="browser">From:</label>
  <input style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" type="date" id="from-date" required>

<label style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" for="browser">To:</label>
  <input style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" type="date" id="to-date" required>
  
  <input style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" type="submit" value="Search" id="search" onclick="availableRooms()">
  <input type="reset">
  <br>
  <br>
<h3 style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 25px">Additional criteria: </h3>

<label style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" for="browser">Country:</label>
<input list="country" id="myCountry" onchange="getCityList(),getRoomtypeList()">
<datalist id="country">
</datalist>

<label style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" for="browser">City:</label>
<input list="city" id="myCity" onchange="getRoomtypeList()">
<datalist id="city">
</datalist>

<label style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" for="browser">Room Type:</label>
<input list="roomtype" id="myRoomtype">
<datalist id="roomtype">
</datalist>

<label style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" for="browser">Capacity:</label>
<input type="number" list="capacity" id="myCapacity">
<datalist id="capacity">
</datalist>

<label style="color: black; font-family: 'Cormorant Garamond', serif; font-size: 20px" for="browser">Season:</label>
<input list="season" id="mySeason">
<datalist id="season">
</datalist>
</form>
<br> <br>

<table style="width:70%" id="my-list"></table>

<script>

function updateList(items, tag) {
    $(tag).html("");
//    $(tag).append("<option value=\"Default\">");
    items.forEach(function (e) {
        $(tag).append("<option value=\""+e+"\">");
    });
}

function availableRooms() {
	var myUrl = "search/available?";
	var country = document.getElementById("myCountry").value;
	var city = document.getElementById("myCity").value;
	var roomtype = document.getElementById("myRoomtype").value;
	var capacity = document.getElementById("myCapacity").value;
	var from = document.getElementById("from-date").value;
	var to = document.getElementById("to-date").value;
	var season = document.getElementById("mySeason").value;
	
	if (country != "") {
		myUrl = myUrl+"country="+country+"&";
	}
	if (city != "") {
		myUrl = myUrl+"city="+city+"&";
	}
	if (roomtype != "") {
		myUrl = myUrl+"roomtype="+roomtype+"&";
	}
	if (capacity != "") {
		myUrl = myUrl+"capacity="+capacity+"&";
	}
	if (from != "") {
		myUrl = myUrl+"from="+from+"&";
	if (to != "")
		myUrl = myUrl+"to="+to+"&";
	}
	if (season != ""){
		myUrl = myUrl+"season="+season+"&";
	}

	$.ajax({
        url : myUrl,
        dataType : 'json',
        success : function(r) {
        	$("#my-list").html("");
        	if(!$.trim(r)){
        		$("#my-list").append("Sorry, No available rooms found. Try to search for other criterias.");
        	
        	} else {
    			$("#my-list").append("<label for=\"browser\">Available rooms:</label><br>");
            	$("#my-list").append("<tr><th>Country</th><th>City</th><th>Room Type</th><th>Capacity</th><th>Season</th><th>Price per day</th></tr>");
        	var size = 0, count = 0;
            	r.forEach(function (e) {
            		size = size + 1;
        		var seasontemp;
        		e.roomType.hotel.seasons.forEach(function(s) {
        			if (s.startDate <= from && to <= s.endDate) {
        				seasontemp = s;
        			} else if (s.startDate <= from) {
        				seasontemp = s;
        			} else {
        				seasontemp={"seasonName": "no season", "rate" : 1};
        			}
        		});
        		if (season != "" && season != seasontemp.seasonName) {
        			count = count+1;
        		} else {

        		 $("#my-list").append("<tr><td>"+e.roomType.hotel.country+"</td><td>"+e.roomType.hotel.city+
        				"</td><td>"+e.room_id.room_type_id.room_type_name+"</td><td>"+e.roomType.capacity+
        				"</td><td>"+seasontemp.seasonName+"</td><td>"+e.roomType.price*seasontemp.rate+"</td><td><a href=\"bookingform\?room_number="+
        						e.room_id.room_number+"&room_type="+e.room_id.room_type_id.room_type_name+
        						"&hotel_id="+e.room_id.room_type_id.hotel_id+"&from-date="+
        						document.getElementById("from-date").value + "&to-date=" + 
        						document.getElementById("to-date").value+"&bill="+e.roomType.price*seasontemp.rate+"\"><button type=\"button\">"+
        				"Book"+"</button></a></td></tr>");  
	}
          }); 
            	if (count == size) {
            		$("#my-list").append("Sorry, Available rooms does not match chosen season.");
            	}
        }}
    });

}

function getCountryList() {
    $.ajax({
        url : 'search/countries',
        dataType : 'json',
        success : function(r) {
            updateList(r, "#country");
        }
    });
}

function bookHotel(index) {

	$.ajax({
		url : 'search/hotel/',
		dataType : 'json',
		success : function(r) {
		//	updateList(r);
		}
	});
} 


function getCityList() {
	var country = document.getElementById("myCountry").value;
	var myUrl;
	if (country == "")
		myUrl = 'search/cities';
	else
		myUrl = 'search/cities?country='+country;
    $.ajax({
        url : myUrl,
        dataType : 'json',
        success : function(r) {
            updateList(r, "#city");
        }
    });
}

function getRoomtypeList() {
	var country = document.getElementById("myCountry").value;
	var city = document.getElementById("myCity").value;
	var myUrl="search/roomtypes?";
	
	if (country != "") {
		myUrl = myUrl+"country="+country+"&";
	}
	if (city != "") {
		myUrl = myUrl+"city="+city;
	}
	
    $.ajax({
        url : myUrl,
        dataType : 'json',
        success : function(r) {
            updateList(r, "#roomtype");
        }
    });
}

function getSeasonList() {
    $.ajax({
        url : 'search/season',
        dataType : 'json',
        success : function(r) {
            updateList(r, "#season");
        }
    });
}

$(document).ready(function () {
	getCountryList();
	getCityList();
	getRoomtypeList();
	getSeasonList();


});
</script>
</div>
</body>
</html>
